{% extends "base.html" %}
{% block scripts %}

		<script type="text/javascript">
			function setBTCConfig(flag){

				var ds   = document.getElementById("dataset");
				var l    = document.getElementById("lhslparameter");
				var k    = document.getElementById("lhskparameter");
				var cap  = document.getElementById("bloomcapacity");
				var err  = document.getElementById("bloomerror");
				var max  = document.getElementById("maximumgraphs");
				var numg = document.getElementById("graphindex");

				if(flag){
					ds.getElementsByTagName('option')[0].selected = true;
				    k.getElementsByTagName('option')[0].selected = true;
				    l.getElementsByTagName('option')[1].selected = true;
					max.value = '25000';
					cap.getElementsByTagName('option')[3].selected = 'selected';
				    err.getElementsByTagName('option')[1].selected = 'selected';
				    numg.getElementsByTagName('option')[3].selected = 'selected';
					l.disabled=true;
					k.disabled=true;
					cap.disabled=true;
					err.disabled=true;
					max.disabled=true;
					numg.disabled=true;

				}
				else{

					k.selectedIndex = -1;
					l.selectedIndex = -1;
					cap.selectedIndex = -1;
					err.selectedIndex = -1;
					max.value = '';
					numg.value = ''
					l.disabled=false;
					k.disabled=false;
					cap.disabled=false;
					err.disabled=false;
					max.disabled=false;
					numg.disabled=false;
				}

			}
			$(document).ready(function() {
				setBTCConfig(true);
				$('form').bind('submit', function() {
					$(this).find(':input').removeAttr('disabled');
				});
			});
		</script>
<script type = "text/javascript">

	function getSettings(e)
	{
			if(e.value=='BTC')
				setBTCConfig(true);
			else
				setBTCConfig(false);


	}
</script>
{% if PVStatus %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="../static/js/highcharts.js" type="text/javascript"></script>
		<script src="../static/js/index-tables.js" type="text/javascript"></script>
		<script src="../static/js/index-donut.js" type="text/javascript"></script>
		<script type="text/javascript">
			function getTimeData(stats){
 				//var total = Number(stats.group.build_graph_t)+Number(stats.group.pv_lsh_t)+Number(stats.group.union_t)+Number(stats.group.total_t)+Number(stats.cbf.cbf_t)+Number(stats.split.split_t )+Number(stats.pv_t);
				var total =Number(stats.group.total_t)+Number(stats.cbf.cbf_t)+Number(stats.pv_t);
				var tdata = {
								'PV Construction':stats.pv_t,
								'CBF':stats.cbf.cbf_t,
								'SPLIT':stats.split.split_t,
								'GROUP BUILD GRAPH':stats.group.build_graph_t,
								'GROUP PV LSH':stats.group.pv_lsh_t,
								'GROUP UNION':stats.group.union_t,
								'Group Construction':stats.group.total_t,
								'TOTAL':total.toFixed(2),

							};
				var tpercent = [

								['PV Construction',Number((Number(stats.pv_t)/total*100))],
								['CBF',Number((Number(stats.cbf.cbf_t)/total*100 ))],
// 								['SPLIT',Number((Number(stats.split.split_t)/total*100 ))],
// 								['GROUP BUILD GRAPH',Number((Number(stats.group.build_graph_t)/total*100))],
// 								['GROUP PV LSH',Number((Number(stats.group.pv_lsh_t)/total*100 ))],
// 								['GROUP UNION',Number((Number(stats.group.union_t)/total*100) )],
								['Group Construction',Number((Number(stats.group.total_t)/total*100 ))],
							];
				return [tdata,tpercent];
			}
		</script>
		<script type="text/javascript">
			$(document).ready(function() {
					var jSData = JSON.parse('{{ PVStatus|safe }}');
					showtables(jSData);
					var dountVals = getTimeData(jSData)
					showdonut(dountVals[0],dountVals[1]);

			});
		</script>

{% endif %}

{% endblock %}
{% block content_title %}
<title>{{ TITLE }}</title>
{% endblock %}
{% block content %}

	<div style="display:-webkit-flex;   display: flex;  flex-flow: row;  ">
	<div id="config"  style="color:#E87352; border-color:#E87352;border: 2px solid;padding:25px;width:200px; height:555px">
		<p class="text-center" style="font-size: 110%;font-weight: 800;">
			Configuration
		</p>
		<form method="post">
			{% csrf_token %}
			{% if form.dataset.errors %}
			<div style="color:red;">
				<p class="error">{{form.dataset.errors}}</p>
			</div>
			{% endif %}
			<div class="row"  style="margin-bottom:5px;">
				<div class="form-group">
					<label for = "dataset" {% if form.dataset.errors %} class="error"{% endif %}>Dataset/Prebuilt Index</label>
					<div class="col-sm-12">
						<select id="dataset" onchange = "getSettings(this);" NAME="dataset" class="form-control index">
							{% for value, text in form.dataset.field.choices %}
							<option value="{{ value}}">{{ text}}</option>
							{% endfor %}
						</select>
						<div id = "datasetBTC" style="color:red;display:none">The total numbers of graphs available is 10</div>
						<div id = "datasetLOGD" style="color:red;display:none">The total numbers of graphs available is 20</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom:5px;">
				<div class="form-group">
					<label for = "LSHparameters">LSH Parameters</label><br />
					<div class="col-sm-6">
						{% if form.lhskparameter.errors %}
						<div style="color:red;">
							<p class="error">{{form.lhskparameter.errors}}</p>
						</div>
						{% endif %}
						<label for = "lhskparameter" {% if form.lhskparameter.errors %} class="error"{% endif %}>K</label><br/>
						<select id="lhskparameter" NAME="lhskparameter"class="form-control index" >
							{% for value, text in form.lhskparameter.field.choices %}
							<option value="{{ value}}">{{ text}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-sm-6">
						{% if form.lhslparameter.errors %}
						<div style="color:red;">
							<p class="error">{{form.lhslparameter.errors}}	</p>
						</div>
						{% endif %}
						<label for = "lhslparameter" {% if form.lhslparameter.errors %} class="error"{% endif %}>L</label>
						<select id="lhslparameter" NAME="lhslparameter"class="form-control index">
							{% for value, text in form.lhslparameter.field.choices %}
							<option value="{{ value }}">{{ text}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom:5px;">
				<div class="form-group">
					{% if form.maximumgraphs.errors %}
					<div style="color:red;">
						<p class="error">{{form.maximumgraphs.errors}}</p>
					</div>
					{% endif %}
					<label for = "maximumgraphs"  {% if form.maximumgraphs.errors %} class="error"{% endif %}>Maximum number of PVs per group</label>
					<div class="col-sm-12">
						{{ form.maximumgraphs}}
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom:5px;">
				<div class="form-group">
					<label for = "capacityanderrorrate" >BF/CBF Construction</label><br/>
					{% if form.bloomcapacity.errors %}
					<div style="color:red;">
						<p class="error">{{form.bloomcapacity.errors}}	</p>
					</div>
					{% endif %}
					<div class="col-sm-6">
						<label for = "bloomcapacity" {% if form.bloomcapacity.errors %} class="error"{% endif %}>Capacity</label>
						<select id="bloomcapacity" NAME="bloomcapacity"class="form-control index" >
							{% for value, text in form.bloomcapacity.field.choices %}
							<option value="{{ value}}">{{ text}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-sm-6" >
						<label for = "bloomerror" {% if form.bloomerror.errors %} class="error"{% endif %}>Err %</label>
						<select id="bloomerror" NAME="bloomerror"class="form-control index">
							{% for value, text in form.bloomerror.field.choices %}
							<option value="{{ value}}">{{ text}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom:20px;">
				{% if form.graphindex.errors %}
				<div class="error">
					<p style="color:red;">{{form.graphindex.errors}}</p>
				</div>
				{% endif %}
				<div class="form-group">

					<!--<p>{{ form.username}}</p>-->
					<label for = "graphindex" {% if form.graphindex.errors %} class="error"{% endif %}>Number of Graphs to Index</label>
					<div class="col-sm-12" >

						<select id="graphindex" NAME="graphindex"class="form-control index" >
							{% for value, text in form.graphindex.field.choices %}
							<option value="{{ value}}">{{ text}}</option>
							{% endfor %}
						</select>
					</div>


				</div>
			</div>
			<div class="row" >
				<div class="form-group">
					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary index-btn" alt="submitData" style="width:100%;">SUBMIT</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div style="margin-left:5px; height:560px;width:810px;margin-left:20px;">
		<div class="row">
			<div class="col-md-12" style="color:#E87352; border-color:#E87352;border: 2px solid; height:170px;">
				<p class="text-center" style="font-size: 110%;font-weight: 800; padding-top:30px;">
						Indexing Statistics
				</p>

			<div id="stats"> </div>


			</div>
		</div>
		<div class="row">
			<div id="exp" class="col-md-12" style="color:#E87352; border-color:#E87352;border: 2px solid; margin-top:5px; height:380px;">
				<p class="text-center" style="font-size: 110%;font-weight: 800; padding-top:30px;">
						PV-Index Construction<br />
						Breakup of Time Taken
				</p>
				<div id="donutbox" style="width: 100%; height: 260px;margin-top:50px"></div>


			</div>
		</div>
		<!--
		<div class="row">
			<div class="col-md-12" style="color:#E87352; border-color:#E87352;border: 2px solid;margin-top:5px; height:110px;">
				<p class="text-center" style="font-size: 110%;font-weight: 800; padding-top:10px;">
						Timings
				</p>

			<div id="timings"> </div>


			</div>
		</div>
		-->

	</div>
</div>

{% if IndexName %}
<!--<div style="color:red;">The name of the new Index created is {{IndexName}}</div>-->
{% endif %}
{% endblock %}
